.select2-container--default .select2-selection--single {
	background-color: #f3f3f3;
	border-color: #f3f3f3;
	border-radius: 0.25rem;
	height: 42px;
}

.select2-container--default .select2-selection--single:focus {
	outline: none;
}

.select2.is-invalid~.select2-container--default .select2-selection--single {
	border-color: #dc3545;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 16px;
	padding-right: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	right: 10px;
}

.select2-container--default.select2-container--open .select2-selection--single,.select2-container--default.select2-container--open .select2-selection--multiple {
	box-shadow: rgba(0,0,0,.16) 0 4px 6px;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	box-shadow: rgba(0,0,0,.16) 0 -4px 6px;
}

.select2-search--dropdown {
	background-color: #f3f3f3;
	padding: 0 16px 15px;
}

.select2-search--dropdown .select2-search__field {
	border-radius: 20px;
	padding: 5px 15px;
}

.select2-search--dropdown .select2-search__field:focus {
	outline: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 0;
}

.select2-results {
	background-color: #f3f3f3;
}

.select2-container--open .select2-dropdown {
	box-shadow: 0 4px 6px rgba(0,0,0,.16);
	border: 0;
	border-radius: 20px;
	padding-bottom: 20px;
	background-color: #f3f3f3;
	margin-top: -1px;
}

.select2-container--open .select2-dropdown--above {
	box-shadow: 0 -4px 6px rgba(0,0,0,.16);
	padding-bottom: 0;
	padding-top: 20px;
}

.select2-results__option {
	padding: 6px 30px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #91c28e;
}